<div class="flex flex-row rounded-2xl p-5 shadow-xl">
  <div class="flex flex-col w-full">
    <div class="flex flex-row space-x-5">
      <h2 class="text-3xl"><%= link_to post.title, post %></h2>
      <%= render 'shared/post_status', post: post %>
    </div>

    <div class="grow">
      <p><%= post.summary %></p>
    </div>
    <div class="flex justify-between">
      <p class="text-center"><%= post.stringified_publication_date %></p>

      <div class="flex justify-end space-x-10">
        <div>
          <%= render 'shared/tag', tags: post.tags %>
        </div>
        <div>
            <%= render 'shared/category', category: post.category if post.has_category? %>
        </div>

      </div>
    </div>
  </div>
  <div class="w-3/4 flex flex-row justify-center">
      <%= image_tag post.cover_image, class: 'w-1/2' if post.cover_image.present? %>
  </div>
</div>
